#video-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-auto-rows: 185px;
	margin: 5vw 9vw 2vw 9vw;
	margin-top: 13vh;
	min-height: 58vh;
	max-height: 58vh;
	width: 80.5vw;
	gap: 25px;
	padding-bottom: 5vh;
	overflow-y: scroll; 
	border: rgba(32, 30, 30, 0.582) solid 7px;
	border-radius: 17px;
}

video {
	border:solid #e5e4e4 7px;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	border-radius: 7px;
	margin-top: 1vh;
	margin-left: .7vw;
	justify-content: center;
}

#myVideo {
	border:solid #00c7d9 7px;
	position: absolute;
	width: 180px;
	z-index: 4;
}

.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
	border: blue solid;
}



