#video-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-auto-rows: 300px;
	margin: 2vw;
	gap: 10px;
}

video {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	margin-left: 2vw;
}



.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
}



